.app.light {
  --bg-color: #74d5ed;
  --invert-bg-color: rgb(24, 24, 130);

  --primary-color: #1e4668;
  --secondary-color: #00325d;

  --inverted-primary-color: rgb(64, 152, 230);
  --inverted-secondary-color: rgb(146, 198, 243);
}
